.ekart--search-bar{
    padding: 0 3vh;
}

.ekart-search-box{
    width: 170px;
    height: 33px;
    border: none;
    background-color: #efefef;
    padding: 2px 10px;
}

.ekart--search--btn{
    width: 33px;
    height: 33px;
    border: none;
    background-color: #efefef;
    margin-left: -5px;
}